.locations-items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    .locations-item {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        display: flex;
    }

    .locations-item img {
        border-radius: 8px;
        width: 288px;
        height: 212px;
    }

    .locations-item .content {
        padding: 24px;
    }
}
