.form__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 721px;
  }
  
  .locations-form-submit-button {
    float: right;
    padding: 16px 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    background: #ff5a5f;
    border: 1px solid #ff5a5f;
    box-sizing: border-box;
    border-radius: 8px;
    color: #fff;
  }
  
  .form__wrapper {
    display: flex;
  }
  
  .locations-form-image-label {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 288px;
    height: 212px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
  }
  
  .locations-form-image-input {
    display: none;
  }
  
  .form__input-wrapper {
      width: 100%;
  }
  
  .locations-form-description,
  .locations-form-name-input {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #858585;
    padding: 16px;
    max-width: 328px;
    width: 100%;
    height: 131.14;
    margin-bottom: 16px;
    border-radius: 8px;
    border: solid 1px var(--gray-100);
  }
  
  .locations-form-description {
    height: 131.14;
  }
  
  .locations-form-description {
      max-width: 417px;
  }
  
