@import "global.css";
@import "variables.css";
@import "form.css";
@import "items.css";
@import url("responsive.css");

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.form__title{
    margin: 32px 0;
    font-size: 32px;
}
