* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: 0;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}   

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}
