@media(max-width: 1200px) {

}

@media(max-width: 991px) {

}

@media(max-width: 768px) {
    
}

@media(max-width: 600px) {
    .form__form {

        justify-content: center;
    }
    .locations-form-image-label {
        max-width: 340.91px;
        margin-bottom: 17px;
    }
    
    .form__wrapper {
        display: table-column;
    }

    .locations-form-name-input {
        max-width: 340.91px;
    }
    .locations-form-description {
        max-width: 340.91px;
    }

    .locations-form-submit-button {
        width: 100%;
        max-width: 343px;
        margin-bottom: 68px;
        margin: 0 16px 68px 16px;
    }
}


@media(max-width: 480px) {
    


}
